## Задание №1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [1]:
import pandas as pd
index_tmp = [1, 2, 3]
author_name_tmp = ['Тургенев', 'Чехов', 'Островский']
authors = pd.DataFrame({"author_id": index_tmp,  "author_name": author_name_tmp})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [2]:
book_title_tmp = ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']
index_tmp_2 = [1, 1, 1, 2, 2, 3, 3]
price_tmp = [450, 300, 350, 500, 450, 370, 290]
book = pd.DataFrame({"author_id": index_tmp_2, "book_title": book_title_tmp, "price": price_tmp})
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание №2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id

In [3]:
authors_price = pd.merge(authors, book, on = "author_id")
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание №3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [4]:
tmp_top = authors_price.sort_values(by='price', inplace=False)
top5 = tmp_top.tail()
top5

   author_id author_name         book_title  price
2          1    Тургенев  Дворянское гнездо    350
5          3  Островский              Гроза    370
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
3          2       Чехов   Толстый и тонкий    500

## Задание №4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [5]:
a = authors_price.groupby('author_name')
authors_stat = pd.DataFrame({'min_price' : a['price'].min(), 'max_price' :  a['price'].max(), 'mean_price' :  round(a['price'].mean(), 2)})
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370      330.00
Тургенев           300        450      366.67
Чехов              450        500      475.00

## Задание №5
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [6]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [9]:
import numpy as np
book_info = pd.pivot_table(authors_price, index='author_name', columns = 'cover', values = 'price', aggfunc = np.sum,fill_value = 0)
book_info.reindex(columns=['твердая','мягкая'])

cover        твердая  мягкая
author_name
Островский         0     660
Тургенев         450     650
Чехов            950       0

In [12]:
book_info.rename(columns= {'author_name' : 'Фамилия'}, inplace=True)
book_info

cover     Фамилия  мягкая  твердая
0      Островский     660        0
1        Тургенев     650      450
2           Чехов       0      950

In [13]:
book_info.to_pickle("book_info.pkl")

In [14]:
book_info2 =  pd.read_pickle("book_info.pkl")

In [19]:
book_info == book_info2

cover  Фамилия  мягкая  твердая
0         True    True     True
1         True    True     True
2         True    True     True